<mat-toolbar>RESERVAS OLAN</mat-toolbar>

  
<form class="example-container" [formGroup]="form" (ngSubmit)="aceptar()" #consultaForm="ngForm">
    <mat-card class="example-card">
    <div class="example-container">

                <mat-form-field>
                        <mat-select placeholder="Campo Deportivo" [(value)]="campoDeportivoSeleccionado" formControlName="campoDeportivo">
                            <mat-option *ngFor="let e of campoDeportivos" [value]="e">
                                {{ e.nombre }}
                            </mat-option>
                        </mat-select>
                </mat-form-field>


                <mat-form-field>
                        <input type="text" placeholder="Ingrese nro de documento" matInput [matAutocomplete]="autoCliente"
                            [formControl]="myControlCliente" formControlName="cliente">
                </mat-form-field>
                <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayFnCliente"
                (optionSelected)="seleccionarCliente($event)">
                <mat-option *ngFor="let p of filteredOptionsCliente | async" [value]="p">
                    {{ p.nombre }} {{p.apellidoPaterno}} {{p.razonSocial}}
                </mat-option>
                </mat-autocomplete>

                <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha y hora" 
                            formControlName="fecha">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>


                <mat-form-field>
                    <mat-select placeholder="Tiempo" [(ngModel)]="tiempo" required>
                        <mat-option  value="30">Media hora</mat-option>
                        <mat-option  value="60">Una hora </mat-option>
                        <mat-option  value="120">Dos hora </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field>
                        <input matInput placeholder="Precio" [(ngModel)]="precio" formControlName="precio">
                </mat-form-field>

        
        <mat-card-actions class="example-card-actions">
            <button mat-raised-button color="primary"  type="submit" >RESERVAR</button>
            <button mat-raised-button color="primary"   >PAGAR</button>
        </mat-card-actions>	    
              
    </div>
    </mat-card>
</form>






